doctype html
html(lang='en')
  head
    title Heroku Articles
    link(rel='stylesheet' type='text/css' href='/list.css')

  body.Global
    .L-wrap.L-hidden(data-bind='css: { "L-hidden": false }')

      header.TopHeader Latest Articles

      form.ArticleForm.L-push(data-bind='submit: addArticle')
        input(placeholder='www.url.com' data-bind='textInput: url')
        a(data-bind='click: addArticle') Add
        p.ArticleForm-error(data-bind='visible: error') Sorry, we were unable to parse that article.

      .ArticlePending.L-push(data-bind='visible: isPending')

      .ArticleList(data-bind='foreach: articles')
        .ArticleList-article
          .ArticleList-votes
            span(data-bind='text: votes')
            a(data-bind='click: voteUp, css: { "L-hidden": !canVote() }') +1
          img.ArticleList-thumb(data-bind='attr: { src: image }, css: { "L-hidden": !hasImage() }')
          .ArticleList-content
            a.ArticleList-title(data-bind='text: title, attr: { href: url }' target='_blank')
            p.ArticleList-topics(data-bind='text: topicList')
            p.ArticleList-prediction
              span(data-bind='text: minutes + "-minute read"')
              span(data-bind='text: style')
              span(data-bind='text: "generally " + sentiment, css: { isNegative: isNegative, isPositive: isPositive }')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(src='/list.js')
